.txtcolor{

    color: #00d9a5;
}

.heading{

    font-weight: bold;
}

.hovereff1:hover{

    background-color: #4e5afe;
    transition: all ease-in .3s;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgb(34, 34, 34);
}
.hovereff2:hover{

    background-color: #00d9a5;
    transition: all ease-in .3s;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgb(34, 34, 34);
}
.hovereff3:hover{

    background-color: #ff3d85;
    transition: all ease-in .3s;
    color: white;
    cursor: pointer;
    box-shadow: 5px 5px 15px rgb(34, 34, 34);

}

.headunderline{

    border-bottom: 5px solid #00d9a5;
    width:15rem;
    margin: auto;
    border-radius: 1rem;
}

.headunderline3{

    border-bottom: 5px solid #00d9a5;
    margin: auto;
    border-radius: 1rem;
}

@media screen and (min-width: 1075px){
    
    .headunderline3{
        border-bottom: 5px solid #00d9a5;
        width: 25rem;
        margin: auto;
        border-radius: 1rem;
    }
}

.carasolimg{

    height: 100%;
}


.card-doctor .header img{

    height: 100%;
}
